body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
img{
height: 50px;
padding-left: 10px;
}
header {
  position: fixed;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  z-index: 10;
  align-items: center;
  background-color: black;
  display: flex;
}
.flexcontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
nav span{
  text-decoration: underline;
  color: seashell;
  display: inline-block;
  padding: 20px 10px;
  margin-right: 10px;
  text-align: right;
}
a {
  color: seashell;
}
nav {
  text-align: right;
  display: block;
  flex-grow: 1;
}
.mainsection{
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
  z-index: 0;
}

.mission{
  justify-content: center;
  align-items: center;
  margin:auto;
  width: 1200px;
  padding-top: 69px;
  display: flex;
}
#mission{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  padding-top: 70px;
}
#mission .content{
  background-color: black;
  margin:auto;
  width: 100%;
}
h2, h4, h3{
  display: block;
  padding: 10px;
  margin: auto;
}
div{
  display: block;
}
#featuredtea{
  width: 1000px;
  height: 700px;
  margin: auto;
  padding-top: 70px;
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;

}
.item{
  padding-bottom: 10px;
}
.item img{
  height: 200px;
  width: 300px;
  display: block;
  margin: 10px;
}
#locations{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  padding-top: 70px;
}
#locations .flex-container{
  width: 1100px;
  margin: auto;
}
.flex-container.locations{
  padding-top: 5px;
}
.flex-container{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.location{
  opacity: 1;
  padding: 10px;
  margin: 5px 20px;
  background-color: black;
  flex-basis: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}
.locations h2{
  display: block;
width: 100%;
}
#contact{
  height: 200px;
}
footer{
  text-align:left;
  padding-left: 20px;
}
